.onTop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 1rem;
  bottom: 6rem;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 5px 2px #0000ff;
  cursor: pointer;

  @include Responsive(XS) {
    right: 1rem;
    bottom: 5.5rem;
    width: 40px;
    height: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0000ff1b;
    border-radius: 50%;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0000ff;
    z-index: 1;
  }
  &:hover {
    i {
      color: #fff;
    }
    &::after {
      background: #0000ff;
    }
  }
}

.onTop-dark {
  box-shadow: 0 0 5px 2px #cc0000;

  .icon-dark {
    color: #cc0000 !important;
  }
}
