.container-profile {
  
  .slideBar {
    width: 20%;
    height: 100vh;
    border: 1px solid #ccc;

      .avatar {
        text-align: center;
        padding: 30px 15px;
        .img {


          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid #fff;
          }
        }
      }

      .list-profile {
        padding: 15px;
        .lists-menu {
          list-style-type: none;
          padding-left: 0;
          .item {
            cursor: pointer;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            transition: .6s;
             &:hover {
              color: blue;
              transform: translateX(20px);
             }
            i {
              margin-right: 8px;
            }
          }
        }
      }
  }
}