@import "responsive";

$mainColor: rgb(30, 91, 247);
$colorWhite: #fff;
.container-profile {
  display: flex;

  .wapper-menu {
    position: relative;
  }

  .slideBar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    height: 100vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 2;
    transition: 0.6s;

    .avatar {
      text-align: center;
      padding: 30px 15px;
      padding-bottom: 15px;
      background-image: url(../../static/image/map.png);
      background-position: -880px -150px;
      .img {
        position: relative;
        width: 120px;
        height: 120px;
        margin: 0 auto;

        .status-active {
          position: absolute;
          border: 3px solid $colorWhite;
          z-index: 1;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          overflow: hidden;
          bottom: 0;
          right: 0;

          &::after {
            content: "";
            background: green;
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            left: 0;
            z-index: 1;
          }
        }

        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          overflow: hidden;
          border: 3px solid $mainColor;
        }
      }

      .caption {
        .silent-text {
          display: inline-block;
          margin-right: 5px;
        }

        .slide-text {
          position: relative;
          color: $mainColor;

          .slide {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            left: 0;
            border-left: 1px solid $mainColor;
            animation: showSkill 2s infinite alternate-reverse;
            z-index: 4;
          }
        }
      }
    }

    .list-profile {
      padding: 15px;
      padding-top: 0;
      .lists-menu {
        list-style-type: none;
        padding-left: 0;
        overflow: hidden;
        .item {
          cursor: pointer;
          border-bottom: 1px solid #ccc;
          padding: 15px 10px;
          transition: 0.6s;
          a {
            text-decoration: none;
            color: #000;
          }

          &:hover {
            color: $mainColor;
            border-color: $mainColor;
            transform: translateX(20px);

            a {
              color: $mainColor !important;
              font-weight: 700;
            }
          }
          i {
            margin-right: 8px;
            display: inline-block;
            width: 25px;
          }
        }

        .active {
          color: $mainColor;
          border-color: $mainColor;
          transform: translateX(20px);
        }

        a.active {
          color: $mainColor !important;
          font-weight: 700;
        }
      }
    }

    .link-git {
      text-align: center;

      .btn {
        text-decoration: none;
        border-radius: 6px;
        padding: 10px 25px;
        margin: 0 5px;
        i {
          margin-right: 5px;
        }
      }

      .github {
        background: #000;
        color: #fff;
      }

      .gitlab {
        background: rgb(250, 190, 11);
        color: #000;
        font-weight: 600;
      }
    }
    
    @include Responsive(XS) {
      display: none;
    }

    @include Responsive(SM) {
      display: none;
    }
  }

  .slideBar-dark {
    background: #000;
    color: #fff;
    box-shadow: 0 3px 6px rgba(193, 192, 192, 0.16),
      0 3px 6px rgba(179, 177, 177, 0.498);

    .slide-text-dark {
      color: #cc0000 !important;
    }

    .link-dark {
      color: #fff !important;
    }

    .github-dark {
      border: 1px solid #fff;
    }

    .slide-dark {
      background-color: #000 !important;
      border-left: 1px solid #cc0000;
    }
    .lists-menu-dark {
      list-style-type: none;
      padding-left: 0;
      overflow: hidden;
      .item-dark {
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        padding: 15px 10px;
        transition: 0.6s;
        a {
          text-decoration: none;
          color: #000;
        }

        &:hover {
          color: #cc0000;
          border-color: #cc0000;
          transform: translateX(20px);

          a {
            color: #cc0000 !important;
            font-weight: 700;
          }
        }
        i {
          margin-right: 8px;
          display: inline-block;
          width: 25px;
        }
      }

      .active-dark {
        color: #cc0000;
        border-color: #cc0000;
        transform: translateX(20px);
      }

      a.active-dark {
        color: #cc0000 !important;
        font-weight: 700;
      }
    }
  }

  .wapper-content {
    width: 80%;
    position: absolute;
    overflow-x: hidden;
    right: 0;
    transition: background 0.6s;

    .change-theme {
      position: fixed;
      top: 5px;
      left: 5px;
      cursor: pointer;
      padding: 10px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      box-shadow: 0 0 10px;
      z-index: 3;

      @include Responsive(XS) {
        position: fixed;
        z-index: 6;
        left: auto;
        top: 70px;
        right: 10px;
        border-radius: 50%;
      }

      @include Responsive(SM) {
        position: fixed;
        z-index: 6;
        left: auto;
        top: 70px;
        right: 10px;
        border-radius: 50%;
      }

      i {
        font-size: 20px;
      }
      .fa-sun {
        color: orange;
      }

      .fa-moon {
        color: #000;
      }
    }

    .change-backgroud {
      background: rgba(255, 255, 255, 0.5) !important;
    }

    @include Responsive(XS) {
      width: 100%;
      margin-top: 60px;
    }

    @include Responsive(SM) {
      width: 100%;
      margin-top: 60px;
    }
  }
  .wapper-content-dark {
    background: #000;
    color: #fff;
  }
}

@keyframes showSkill {
  100% {
    left: 110%;
    width: 50%;
  }
}
