@import "responsive";

.experience-area {
  background: #f6f7fd;
  transition: background .6s;

  .container { 
    max-width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 100px;

    @include Responsive(XS) {
      margin-top: 50px;
      display: block;
    }

    .exp-content {
      padding: 16px;
      width: 49%;

      @include Responsive(XS) {
        width: inherit;
        text-align: center;
      }

      h5 {
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        font-size: 20px;
        color: #3e43e9;
      }

      h3 {
        font-weight: 700;

        @include Responsive(XS) {
          font-size: 16px;
        }
      }

      p {
        margin: 20px 0;
        line-height: 2;

        @include Responsive(XS) {
          text-align: justify;
        }
      }
    }

    .exp-container {
      padding: 16px;
      padding-right: 0;
      width: 49%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      @include Responsive(XS) {
        width: inherit;
        padding-right: 16px;
      }

      .exp-block {
        text-align: center;
        margin: 10px;
        padding: 40px;
        transition: 200ms ease-out;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 25%;
        border-radius: 6px;

        &:hover {
          i {
            transform: rotateY(180deg);
          }
        }

        @include Responsive(XS) {
          margin: 10px 0;
          width: 100%;
        }

        i {
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
          font-size: 40px;
          color: #3e43e9;
          transition: transform 1s;
        }

        h4 {
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          margin-bottom: 8px;
        }

        h6 {
          font-size: 14px;
          font-weight: 400;
          margin: 0;
        }
      }
    }
  }
}

.experience-area-dark {
  background: #555555;

  .subtitle-dark {
    color: #cc0000 !important;
  }

  .exp-block-dark {
    background: #000 !important;
  }

  .icon-dark {
    color: #cc0000 !important;
  }
}