.navigate-mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 5;
  padding: .5rem 1rem;
  box-sizing: border-box;

  @include Responsive(XL) {
    display: none;
  }

  .list-item {
    background: #ffffffe6;
    border-radius: .8rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    box-sizing: border-box;
    ul {
      display: flex;
      padding-left: 0;
      list-style: none;
      align-items: center;
      padding: 0 .3rem;
      justify-content: space-between;
      margin-top: .5rem;
      margin-bottom: .5rem;
      a {
        text-decoration: none;
        padding: .4rem .2rem;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          i {
             font-size: 1.2rem;
             color: $mainColor;
          }

          span {
            color: #000;
          }
        }
      }
    }
  }

  .list-item-dark {
    background: #000000e6;
    box-shadow: 0 10px 20px rgba(255, 254, 254, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);

    .item-dark {
      color: #cc0000 !important;
    }

    .text-dark {
      color: #fff !important;
    }
  }
}