.wapper-portfolio {
  background: #f6f7fd;

  .container {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding: 65px 0;

    @include Responsive(XS) {
      margin-top: 50px;
      padding: 30px 0;
    }

    .portfolio-heading {
      text-align: center;
      margin-bottom: 65px;

      @include Responsive(XS) {
        margin-bottom: 25px;
      }

      .portfolio-title {
        font-weight: 800;
        font-size: 38px;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }

  .list-portfolio {
    margin-bottom: 50px;

    @include Responsive(XS) {
      margin-bottom: 25px;
    }
    .list-inline {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-left: 0;

      .list-inline-item {
        margin-left: 25px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.1s ease-in-out;
        position: relative;
        letter-spacing: 0.3px;
        display: inline-block;

        &::before {
          content: "";
          position: absolute;
          background-color: #3e43e9;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s;
          height: 1px;
          bottom: -10px;
          opacity: 1;
          left: 0;
          width: 100%;
        }

        &:hover {
          color: #3e43e9;
          &::before {
            visibility: visible;
            transform: scaleX(1);
          }
        }
      }

      .tab-active {
        color: #3e43e9;
        &::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }

  .img-portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @include Responsive(XS) {
      display: block;
    }

    .works-item {
      width: 48%;
      margin-bottom: 25px;
      height: 700px;
      overflow: hidden;
      border-radius: 6px;

      @include Responsive(XS) {
        width: inherit;
        margin: 16px;
      }

      .work-wapper {
        height: 100%;
        overflow: hidden;
        border-radius: 6px;
      }

      .item-overlay {
        position: relative;
        overflow: hidden;
        height: 100%;

        .category {
          background: #3e43e9;
          color: #fff;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          padding: 5px 10px;
          display: inline-block;
          border-radius: 6px;
          margin-bottom: 10px;
          margin-top: 15px;
          margin-right: 15px;
          font-weight: 600;
          position: absolute;
          right: -100px;
          z-index: 1;
          transition: 200ms ease-out;
        }

        img {
          transition: all 1s ease-in-out;
          transform: translateY(0);
          width: 100%;
          height: 800px;
          object-fit: cover;
          display: block;
        }

        .overlay-content {
          transition: all 0.3s ease-in-out;
          visibility: hidden;
          bottom: 0;
          z-index: 2;
          opacity: 0;
          position: absolute;
          width: 100%;
          padding: 3px 18px;
          color: #fff;

          h6 {
            font-weight: 600;
            margin-bottom: 0;
            float: left;
            line-height: 40px;
            font-size: 16px;
          }
        }

        .overlay-btn {
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          transition: 0.3s;

          .btn {
            cursor: pointer;
            padding: 20px 40px;
            display: block;
            margin: 15px 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            outline: none;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            color: #fff;
            text-decoration: none;
            border-radius: 6px;
            text-align: center;
            opacity: 0.8;

            &:hover {
              opacity: 1;
            }
          }

          .btn-warning {
            background: #f89c02;
            color: #000;
          }

          .btn-primary {
            background: #018bf7;
          }
        }

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 75%
          );
          opacity: 0;
          position: absolute;
          transition: all 0.3s ease-in-out;
          bottom: 0;
          z-index: 1;
        }

        &:hover {
          img {
            transform: translateY(-30%);
          }

          .category {
            right: 20px;
          }

          .overlay-content {
            opacity: 1;
            visibility: visible;
          }

          .overlay-btn {
            transform: translate(-50%, -50%) scale(1);
          }

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
